---
permalink: "/fr/politique-de-confidentialite/"
altOverride:
  en: /en/privacy-policy/
  fr: /fr/politique-de-confidentialite/
eleventyComputed:
  metaTitle: "{{ legal.privacy.fr.meta_title }}"
  metaDescription: "{{ legal.privacy.fr.meta_description }}"
---
{% include "partials/legal-body.njk" %}
