---
permalink: "/en/privacy-policy/"
altOverride:
  en: /en/privacy-policy/
  fr: /fr/politique-de-confidentialite/
eleventyComputed:
  metaTitle: "{{ legal.privacy.en.meta_title }}"
  metaDescription: "{{ legal.privacy.en.meta_description }}"
---
{% include "partials/legal-body.njk" %}
